body{
background-image: url("sonja-langford-5XjNhm3hz7U-unsplash.jpg");
background-position: center;
    background-repeat: no-repeat;
    background-size: 1300px 1730px;
}

.content
{

    margin-top: 20px;
    padding: 5px;
  }
    
h2{
    color:cyan;
    text-align: center;
      font-family:  Times, Times New Roman, serif;
    font-size: 17px;
    font-style: italic;
    font-size:40px;
}
 
p
{

    font-family:  Times, Times New Roman, serif;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    color:pink;
    line-height: 1.6;
   
}