body{
background-image: url("yk0C8F.jpg");
background-position: center;
    background-repeat: no-repeat;

}

.content
{

    margin-top: 20px;
    padding: 5px;

  }
    
h2{
    color: darkblue;
    text-align: center;
      font-family:  Times, Times New Roman, serif;
    font-size: 17px;
    font-style: italic;
    font-size:40px;
}
 
p
{
 text-align: center;
    font-family:  Times, Times New Roman, serif;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    color:black;
    line-height: 1.6;
}