.header{
text-align: center;
color: black;
}

.option{
 
   border: 2px outset white;
  
   
   
}

body{

background-image: url("quotes/4.jpg");

    background-repeat: no-repeat;
    background-position: top;
    background-size:1300px 700px;
}

.Quotebox{
    width:60%;
    padding:60px;
   margin: 60px;
       margin-left: 170px;
    color: black;
    font-family:  Times, Times New Roman, serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    border: 2px outset azure;

     border-radius: 5px;
 
}

.button{
   padding: 5px;
     margin-left: 200px;
     border: 2px outset white;
     font-family:  Times, Times New Roman, serif;
    font-style: italic;
}