body{
background-image: url("5b7d46178e40ccd254b9ee2be04c327b.jpg");
background-position: center;
    background-repeat: no-repeat;
    background-size: 1300px 1730px;
}

.content
{

    margin-top: 20px;
    padding: 5px;
  }
    
h2{
    color: darkred;
    text-align: center;
      font-family:  Times, Times New Roman, serif;
    font-size: 17px;
    font-style: italic;
    font-size:40px;
}
 
p
{

    font-family:  Times, Times New Roman, serif;
    font-size: 19px;
    font-style: italic;
    font-weight: bolder;
    color:indianred;
    line-height: 1.2;
   
}