body{

    background-image: url("wp4078360-climate-change-wallpapers.jpg");
background-position: center;
    background-repeat: no-repeat;

}

.content
{

    padding: 5px;
  }
    
h2{
    color:antiquewhite;
    text-align: center;
      font-family:  Times, Times New Roman, serif;
    font-size: 17px;
    font-style: italic;
    font-size:40px;
}
 
p
{

    font-family:  Times, Times New Roman, serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    color:antiquewhite;
    line-height: 1.6;
   
}